<head>
    <meta charset = "UTF-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>