<!DOCTYPE html>
<html lang=en>
	<head>
	<meta charset = "UTF-8">
	<title>{{pageTitle}}</title>
	<link rel="stylesheet" href="/css/general.css">
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	{{{script}}}
	</head>
	<body class={{pageClass}}>
		<div id="header">
			<img src="/images/logo4.png" alt="aks logo">
			{{pageTitle}}
		</div>
		<div id="middle">
			<div id="nav">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/projects">Projects</a></li>
				</ul>
			</div>
			<div id="main">
