<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset = "UTF-8">
        <title>{{pageTitle}}</title>
        <link rel="stylesheet" href="/css/general.css">
    </head>
    <body class={{pageClass}}>
        {{> header}}
        <p>Hi! I'm Andrew Kaplan.
            <br>Welcome to my website!
            <br>I am actively developing this site to learn web development!
        </p>

        {{> footer}}
    </body>
</html>