<!DOCTYPE html>
<html lang=en>
    {{> head}}
    <body class={{pageClass}}>
        {{> header}}
        <div id="middle">
            {{> nav}}
            <div id="main">
                <p>Hi! I'm Andrew Kaplan.
                <br>Welcome to my website!
                <br>I am actively developing this site to learn web development!
                </p>
            </div>
            {{> links}}
        </div>
        {{> footer}}
    </body>
</html>