<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset = "UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="/css/general.css">
    </head>
    <body class={{pageClass}}>
        {{> header}}
        <p>{{screamIt welcomeMessage}}</p>

        {{> footer}}
    </body>
</html>