<!DOCTYPE html>
<html lang=en>
    {{> head}}
    <body id={{pageClass}}>
        {{> header}}
        <div id="middle">
            {{> nav}}
            <div id="main">
                <p>{{welcomeMessage}}</p>
            </div>
            {{> links}}
        </div>
        {{> footer}}
    </body>
</html>