<!DOCTYPE html>
<html lang=en>
    {{> head}}
    <body class={{pageClass}}>
        <h1>We'll be right back</h1>
        <p>Site is down for maintenance, please come back later</p>
    </body>
</html>