<!DOCTYPE html>
<html lang=en>
	<head>
        <meta charset = "UTF-8">
        <title>{{pageTitle}}</title>
        <link rel="stylesheet" href="/css/general.css">
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        {{{script}}}
	</head>
    <body class={{pageClass}}>
        <h1>We'll be right back</h1>
        <p>Site is down for maintenance, please come back later</p>
    </body>
</html>