<!DOCTYPE html>
<html lang=en>
    {{> head}}
    <body class={{pageClass}}>
        {{> header}}
        <div id="middle">
            {{> nav}}
            <div id="main">
                <h2>My public git repos:</h2>
                <ul>
                    <li><a href="https://github.com/ndrwkaplan18/my_website" target="_blank">This website!!</a></li>
                    <li><a href="https://github.com/ndrwkaplan18/Andrews_Repo" target="_blank">Andrews_Repo</a></li>
                </ul>

                {{!-- <h2>What's the weather in YOUR area?</h2>
                <div class="weather">
                    <input type="text" id="userInput"=>Enter an address you'd like to know the weather for</input>
                    <button onclick="getWeather()">Submit</button>
                </div> --}}
                
                <p>{{weather}}</p>
            </div>
            {{> links}}
        </div>
        
        {{> footer}}
    </body>
</html>