<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset = "UTF-8">
        <title>{{pageTitle}}</title>
        <link rel="stylesheet" href="/css/general.css"/>
    </head>
    <body class={{pageClass}}>
        {{> header}}
        <p>
            <h2>My public git repos:</h2>
            <ul>
                <li><a href="https://github.com/ndrwkaplan18/my_website">This website!!</a></li>
                <li><a href="https://github.com/ndrwkaplan18/node-course">node-course</a></li>
                <li><a href="https://github.com/ndrwkaplan18/Andrews_Repo">Andrews_Repo</a></li>
                <li><a href="https://github.com/ndrwkaplan18/WhatTheHechsher">WhatTheHechsher</a></li>
            </ul>
        </p>
        <h2>What's the weather in YOUR area?</h2>
        <input type="text" id="userInput"=>Enter an address you'd like to know the weather for</input>
        <button onclick="test()">Submit</button>
        {{> footer}}
    </body>
</html>