/* @import url("about.css");
@import url("home.css");
@import url("maintenance.css"); */
@import url("projects.css");

body {
    /* background-image: url("/../images/close-up-code-coding-160107.jpg") fixed; */
    background-color: #5ea8ee;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#header {
    background-image: url("/../images/art-background-blank-cropped.jpg");
    background-color: #2d2c5f;
    color: black;
    font-size: 50pt;
    height: 60pt;
    border: 1px gray solid;
}

#header > img {
    height: 50pt;
    vertical-align: text-bottom;
    z-index: -1;
}

#middle {
    display: flex;
    flex-direction: row;
}

#nav, #links {
    overflow: hidden;
    width: 200px;
    height: 100%;
    border: 1px gray solid;
    text-align: left;
    padding-bottom: 100%;
    background-color: #2d2c5f;
    color: white;
}

#nav > div, #links > div {
    font-size: 30pt;
    position: fixed;
}

#nav > div {
    padding-left: 0;
}

#links > div {
    padding-right: 0;
}

#nav > ul, #links > ul{
    position: fixed;
    font-size: 25pt;
    padding-top: 70px;
    padding-left: 0;
}

#nav > ul > li, #links > ul > li {
    padding-bottom: 100px;
}

#nav > ul > li {
    padding-left: 20px;
}

#links > ul > li {
    padding-right: 20px;
    padding-left: 10px;
}

#main {
    width: 100%;
    border: 1px gray solid;
    font-size: 30pt;
}

#main > p{
    margin-top:200px;
    margin-bottom:50%;
}

#footer {
    border: 1px gray solid;
    background-color: lightgray;
}

h2 {
    background-color: #a35808;
}

li {
    list-style-type: none;
}

a {
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    margin-left: 40%;
    margin-right: 40%;
}