@import url("about.css");
@import url("home.css");
@import url("projects.css");
@import url("maintenance.css");

h2, h1, ul, p {
    text-align: center;
}

h2 {
    background-color: #a35808;
}

li {
    list-style-type: none;
}

a {
    color: lightblue;
}